@font-face {
	font-family: 'iconfont'; /* Project id 2546104 */
	src: url('iconfont.woff2?t=1645515033496') format('woff2'),
		url('iconfont.woff?t=1645515033496') format('woff'),
		url('iconfont.ttf?t=1645515033496') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-feishu:before {
	content: '\e61a';
}

.icon-jianzhuanquan-:before {
	content: '\e618';
}

.icon-jiantou_xiangshang_o:before {
	content: '\eb90';
}

.icon-jiantou_xiangxia_o:before {
	content: '\eb91';
}

.icon-icon-eye-close:before {
	content: '\e619';
}

.icon-yanjing:before {
	content: '\e661';
}

.icon-shanchu:before {
	content: '\e64c';
}

.icon-xuanzhong:before {
	content: '\e723';
}

.icon-jiangxu:before {
	content: '\e681';
}

.icon-shengxu:before {
	content: '\e683';
}

.icon-suoxiao:before {
	content: '\e62b';
}

.icon-fangda:before {
	content: '\e62a';
}

.icon-shousuocaidan:before {
	content: '\e61f';
}

.icon-shousuocaidan-copy:before {
	content: '\e64b';
}

.icon-zitidaxiao:before {
	content: '\e617';
}

.icon-shuaxinanniu:before {
	content: '\e613';
}

.icon-download:before {
	content: '\e614';
}

.icon-settings-xitongguanli1:before {
	content: '\e615';
}

.icon-shouheanniu:before {
	content: '\e616';
}

.icon-bumenguanli:before {
	content: '\e604';
}

.icon-gonggaoicon:before {
	content: '\e605';
}

.icon-gangweiguanli:before {
	content: '\e606';
}

.icon-gongyinglianzhongxin1:before {
	content: '\e607';
}

.icon-cepingxitong:before {
	content: '\e608';
}

.icon-jichuxinxi:before {
	content: '\e609';
}

.icon-kucunzhongxin:before {
	content: '\e60a';
}

.icon-huiyuanzhongxin:before {
	content: '\e60b';
}

.icon-pingjia1:before {
	content: '\e60c';
}

.icon-yonghuguanli:before {
	content: '\e60d';
}

.icon-shujuzhongxin:before {
	content: '\e60e';
}

.icon-shouhouzhongxin:before {
	content: '\e60f';
}

.icon-xitongjiankong:before {
	content: '\e610';
}

.icon-OAzhongxin:before {
	content: '\e611';
}

.icon-xiaoshouzhongxin1:before {
	content: '\e612';
}

.icon-gongyinglianzhongxin:before {
	content: '\e601';
}

.icon-xiaoshouzhongxin:before {
	content: '\e602';
}

.icon-settings-xitongguanli:before {
	content: '\e603';
}
